body {
  font: sans-serif;
}

.gif-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.giphies>img {
  width: 100%;
}

.giphies>h3 {
  font-family: monospace;
  font-weight: lighter;
}

.search {
  grid-column: 2/3;
  margin: 0 auto;
}

.search>button {
  border-radius: 0;
  padding:10px;
  margin-left: 4px;
  background-color: purple;
  color: white;
}

.search>button:hover {
  color: grey;
}

.search>input {
  padding: 10px;
}
